old_dirs/practice/fenics_tutorial/beam_bunny_chain/random_points.h5
old_dirs/practice/fenics_tutorial/beam_bunny_chain/incremental_points.h5
old_dirs/practice/fenics_tutorial/beam_bunny_chain/*.mp4
old_dirs/practice/fenics_tutorial/beam_bunny_chain/bunny_displacement.h5
old_dirs/practice/fenics_tutorial/beam_bunny_chain/bunny_displacement.xdmf
old_dirs/practice/fenics_tutorial/u_time.gif
old_dirs/practice/fenics_tutorial/diffusion.h5
old_dirs/practice/fenics_tutorial/diffusion_clean.h5
old_dirs/practice/fenics_tutorial/beam_bunny_chain/diffusion_clean.h5
old_dirs/practice/bunny_loaded.mesh
old_dirs/practice/bunny.xdmf

old_dirs/Bunny/deformed_bunny_100_0.5.vtu
old_dirs/Bunny/compressed_bunny_100_0.5.vtu
old_dirs/Bunny/bunny.mesh


old/deformed_output.h5
old/deformed_mesh.vtk
old/bunny_dynamic_deformation.h5
old/bunny_deformation.h5

main/deformed_bunny_files/
