practice/fenics_tutorial/beam_bunny_chain/random_points.h5
practice/fenics_tutorial/beam_bunny_chain/incremental_points.h5
practice/fenics_tutorial/beam_bunny_chain/*.mp4
practice/fenics_tutorial/beam_bunny_chain/bunny_displacement.h5
practice/fenics_tutorial/beam_bunny_chain/bunny_displacement.xdmf

Bunny/deformed_bunny_100_0.5.vtu
Bunny/compressed_bunny_100_0.5.vtu
practice/bunny.xdmf


practice/fenics_tutorial/u_time.gif
practice/fenics_tutorial/diffusion.h5
practice/fenics_tutorial/diffusion_clean.h5
practice/fenics_tutorial/beam_bunny_chain/diffusion_clean.h5
deformed_mesh.vtk
practice/bunny_loaded.mesh
Bunny/bunny.mesh
deformed_output.h5
bunny_dynamic_deformation.h5
bunny_deformation.h5

